body{
    background-color:antiquewhite;
}

.title{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 72px;
    color: orange;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration:none;
    color: black;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

ul{
    display:list-item;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;    
}
