body{
    background-color:antiquewhite;
}

.title{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 72px;
    color: orange;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration:none;
    color: black;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.center-ul{
    display:list-item;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;    
}

.font{
    font-family: 'Source Sans 3', sans-serif;
}

.font-size{
    font-size: 20px;
}

.page-title{
    font-size: 48px;
    text-align: center;
    color: orange;
}